header
    width: 100%
    height: 3rem
    border-bottom: 2px solid #3B7339
    display: flex
    align-items: center
    justify-content: space-between
    padding: 3rem
    z-index: 999
    nav 
        background-color: red
        width: auto
        max-height: 3rem

    .header-logo
        display: flex
        align-items: center
        gap: 0.5rem
        font-size: 1.3rem
        img 
            width: auto
            height: 4rem