.macros
    width: 30rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1rem
    padding: 5rem
    
    .macro-container
        display: flex
        align-items: center
    
    .card-macro
        width: 30rem
        display: flex
        border: 2px solid #3B7339
        gap: 4rem
        border-radius: 0.8rem
        padding: 0.3rem 0.5rem
        align-items: center
        justify-content: space-between
        .values
            display: flex
            justify-content: flex-end
            align-items: center


            #water
                background: url(../../assets/img/water.svg)
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                height: 2rem
                width: 2rem
            #protein
                background: url(../../assets/img/chi.svg)
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                height: 2rem
                width: 2rem
            #carb
                background: url(../../assets/img/bow.svg)
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                height: 2rem
                width: 2rem

            #fat
                background: url(../../assets/img/butter.svg)
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                height: 2rem
                width: 2rem

    #buttonExpand
        margin-left: 20px
        width: 30px
        height: 30px
        color: white
        border-style: none
        background-color: green
        cursor: pointer
        border-radius: 10%
    button:hover
        background-color: #12591D
        cursor: pointer
    button:active
        box-shadow: 0 1px #666
        transform: translateX(1px)  
    
    .sp
        margin-left: 50px

    #teste
        display: flex
        flex-direction: row
        width: 120%
        background-color: none
        #newTeste
            justify-content: center
            align-items: center
            display: flex
            border-bottom: 1px solid #808080
            width: 100%
            #addButton
                margin-left: 20px
                width: 100px
                height: 30px
                color: white
                border-style: none
                background-color: green
                cursor: pointer
                border-radius: 10%
                margin-bottom: 10px
            button:hover
                background-color: #12591D
            button:active
                box-shadow: 0 1px #666
                transform: translateX(1px) 
            #inputData  
                width: 50%
                height: 25px
                margin: 1rem                        
                
                    