.macros
    width: 30rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1rem
    padding: 5rem
    .card-macro
        width: 30rem
        display: flex
        border: 2px solid #3B7339
        gap: 4rem
        border-radius: 0.8rem
        padding: 0.3rem 0.5rem
        align-items: center
        justify-content: space-between
        .values
            display: flex
            justify-content: flex-end
            align-items: center


            #water
                background: url(../../assets/img/water.png)
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                height: 2rem
                width: 2rem
            #protein
                background: url(../../assets/img/chicken.png)
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                height: 2rem
                width: 2rem
            #carb
                background: url(../../assets/img/bow.png)
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                height: 2rem
                width: 2rem

            #fat
                background: url(../../assets/img/butter.png)
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                height: 2rem
                width: 2rem